{% extends 'base.html' %}
{% block content %}
<div class="header">
    <div id="state">{{ state }}</div>
    <div id="countdown">0</div>
</div>
<div class="main">
    <div class="outer-margin"></div>
    {% set team, team_name = "legion", "Legion" %}
    <div class="team" id="{{ team }}">
        <div class="team-header">
            <img class="team-header-icon" src="/static/images/team-{{ team }}.png"/>
            <div class="team-header-name">{{ team_name }}</div>
        </div>
        <div class="team-slots">
            {% for player in teams[ team ] %}
            {% set index = loop.index0 %}
            <div class="slot" id="{{ team }}-{{ index }}" onClick="clickSlot( '{{ team }}', {{ index }} )">
                <div class="slot-player">
                    <img class="slot-player-icon" src="{{ player.icon }}"/>
                    <div class="slot-player-name">{{ player.name }}</div>
                </div>
                <div class="slot-hero">
                    <img class="slot-hero-icon" src="{{ player.hero.icon }}"/>
                    <div class="slot-hero-name">{{ player.hero.name }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="inner-margin"></div>
    <div class="draft-heroes">
        {% for stat, stat_name in [ ( "agi", "Agility" ), ( "int", "Intelligence" ), ( "str", "Strength" ) ] %}
        <div class="stat" id="{{ stat }}">
            <div class="stat-header">{{ stat_name }}</div>
            <div class="stat-heroes">
                {% for index in range( 8 ) %}
                <div class="draft-hero" id="{{ stat }}-{{ index }}">
                    <img class="draft-hero-image" src="{{ heroes[ stat ][ index ].icon }}"/>
                    <div class="draft-hero-name">{{ heroes[ stat ][ index ].name }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="inner-margin"></div>
    {% set team, team_name = "hellbourne", "Hellbourne" %}
    <div class="team" id="{{ team }}">
        <div class="team-header">
            <div class="team-header-name">{{ team_name }}</div>
            <img class="team-header-icon" src="/static/images/team-{{ team }}.png"/>
        </div>
        <div class="team-slots">
            {% for player in teams[ team ] %}
            {% set index = loop.index0 %}
            <div class="slot" id="{{ team }}-{{ index }}" onClick="clickSlot( '{{ team }}', {{ index }} )">
                <div class="slot-player">
                    <div class="slot-player-name">{{ player.name }}</div>
                    <img class="slot-player-icon" src="{{ player.icon }}"/>
                </div>
                <div class="slot-hero">
                    <img class="slot-hero-icon" src="{{ player.hero.icon }}"/>
                    <div class="slot-hero-name">{{ player.hero.name }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="outer-margin"></div>
</div>
<button id="start-button" onClick="startDraft()">Start Draft</button>
<div class="chat-area">
    <div class="messages">
        <div id="message-log"></div>
        <form id="message-form">
            <input type="text" id="message-input"/>
            <input type="submit" id="message-button" value="Send"/>
        </form>
    </div>
    <div class="players">
        <div class="players-header">Players</div>
        <div id="players-list"></div>
    </div>
</div>

<script type="text/javascript">
    "use strict";

    var socketio = io();

    function clickSlot( team, index )
    {
        console.log( "clicking slot" );
        socketio.emit( "click-slot", team, index );
    };

    function startDraft()
    {
        socketio.emit( "start-draft" );
    };

    let messageForm = document.getElementById( "message-form" );
    messageForm.addEventListener( "submit", sendMessage );
    function sendMessage( event )
    {
        event.preventDefault();

        let input = document.getElementById( "message-input" );
        if( input.value == "" ) return;
        socketio.emit( "message", input.value );
        input.value = "";
    };

    function onStateChanged( state )
    {
        console.log( "changing state" );
        let stateLabel = document.getElementById( "state" );
        stateLabel.innerHTML = state;
    };
    socketio.on( "state-changed", onStateChanged );

    let timer;
    function onSetTimer( seconds )
    {
        console.log( "setting timer" );
        let countdownLabel = document.getElementById( "countdown" );
        countdownLabel.innerHTML = seconds;
        clearInterval( timer );
        if( seconds == 0 ) return;
        timer = setInterval( () => {
            --seconds;
            countdownLabel.innerHTML = seconds;
            if( seconds == 0 )
                clearInterval( timer );
        }, 1000 );
    };
    socketio.on( "set-timer", onSetTimer );

    function onUpdateHero( stat, index, hero )
    {
        console.log( "updating hero" );
        let heroDiv = document.getElementById( `${ stat }-${ index }` );
        let nameLabel = heroDiv.getElementsByClassName( "hero-name" )[ 0 ];
        nameLabel.innerHTML = hero.name;
        let image = heroDiv.getElementsByClassName( "hero-image" )[ 0 ];
        image.src = hero.icon
    };
    socketio.on( "update-hero", onUpdateHero );

    function onUpdateSlot( team, index, player )
    {
        console.log( "updating slot" );
        let slotDiv = document.getElementById( `${ team }-${ index }` );
        let playerName = slotDiv.getElementsByClassName( "slot-player-name" )[ 0 ];
        playerName.innerHTML = player.name;
        let playerIcon = slotDiv.getElementsByClassName( "slot-player-icon" )[ 0 ];
        playerIcon.src = player.icon;
        let heroName = slotDiv.getElementsByClassName( "slot-hero-name" )[ 0 ];
        heroName.innerHTML = player.hero.name;
        let heroIcon = slotDiv.getElementsByClassName( "slot-hero-icon" )[ 0 ];
        heroIcon.src = player.hero.icon;
    };
    socketio.on( "update-slot", onUpdateSlot );

    function updatePlayer( player )
    {
        let playerDiv = document.getElementById( player.id );
        let playerName = playerDiv.getElementsByClassName( "players-list-name" )[ 0 ];
        playerName.innerHTML = player.name;
        playerName.style.color = player.color;
        let playerIcon = playerDiv.getElementsByClassName( "players-list-icon" )[ 0 ];
        playerIcon.src = player.icon;
    };

    function onAddPlayer( player )
    {
        console.log( "adding player" );
        document.getElementById( "players-list" ).innerHTML += `
            <div class="players-list-item" id="${ player.id }">
                <img class="players-list-icon"/>
                <div class="players-list-name" >${ player.name }</div>
            </div>
        `;
        updatePlayer( player );
    };
    socketio.on( "add-player", onAddPlayer );

    function onRemovePlayer( id )
    {
        console.log( "removing player" );
        let player = document.getElementById( `${ id }` );
        player.remove();
    };
    socketio.on( "remove-player", onRemovePlayer );

    function onUpdatePlayer( player )
    {
        console.log( "updating player" );
        updatePlayer( player );
    };
    socketio.on( "update-player", onUpdatePlayer );

    function getTimestamp()
    {
        let time = new Date();
        return time.getHours().toString().padStart( 2, "0" )
             + ":"
             + time.getMinutes().toString().padStart( 2, "0" )
             + ":"
             + time.getSeconds().toString().padStart( 2, "0" );
    };

    function onMessage( message )
    {
        console.log( "message received" );
        let messageLog = document.getElementById( "message-log" );
        messageLog.innerHTML += `
            <div class="message">
                <span class="message-timestamp">${ getTimestamp() }</span>
                <span class="message-message">${ message }</span>
            </div>
        `;
        messageLog.scrollTop = messageLog.scrollHeight;
    };
    socketio.on( "message", onMessage );

    function onSetName( name )
    {
        console.log( "requesting name change" );
        let form = new FormData();
        form.append( "name", name );
        fetch( "name", { method: "POST", body: form } );
    };
    socketio.on( "set-name", onSetName );
</script>
{% endblock %}
