{% extends 'base.html' %}
{% block content %}
<div class="header">
    <label class="state" id="state">{{ state }}</label>
    <label class="countdown" id="countdown">0</label>
</div>
<div class="main">
    <div class="outer-margin"></div>
    <div class="team" id="legion">
        <div class="team-header">Legion</div>
        {% for index in range( 3 ) %}
        <div class="player" id="legion-{{ index }}">
            <label class="player-name">{% if legion|length > index %}{{ legion[ index ] }}{% else %}Unnamed Player{% endif %}</label>
            <div class="selected-hero"></div>
        </div>
        {% endfor %}
    </div>
    <div class="inner-margin"></div>
    <div class="heroes">
        {% for stat, stat_name in [ ( "agi", "Agility" ), ( "int", "Intelligence" ), ( "str", "Strength" ) ] %}
        <div class="stat-block" id="{{ stat }}-heroes">
            <div class="hero-list-header">{{ stat_name }}</div>
            <div class="hero-block">
                {% for index in range( 8 ) %}
                <div class="hero" id="{{ stat }}-{{ index }}">
                    <img class="hero-image" src="https://stats.projectkongor.com/images/{{ heroes[ stat ][ index ].icon }}/icon_128.jpg"/>
                    <label class="hero-name">{{ heroes[ stat ][ index ].name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="inner-margin"></div>
    <div class="team" id="hellbourne">
        <div class="team-header">Hellbourne</div>
        {% for index in range( 3 ) %}
        <div class="player" id="hellbourne-{{ index }}">
            <label class="player-name">{% if hellbourne|length > index %}{{ hellbourne[ index ] }}{% else %}Unnamed Player{% endif %}</label>
            <div class="selected-hero"></div>
        </div>
        {% endfor %}
    </div>
    <div class="outer-margin"></div>
</div>
<div class="controls">
    <button onClick="startDraft()">Start Draft</button>
</div>

<script type="text/javascript">
    var socketio = io();

    const onStateChanged = ( state ) => {
        console.log( "updating state" );
        stateLabel = document.getElementById( "state" );
        stateLabel.innerHTML = state;
    };
    socketio.on( "state-changed", onStateChanged );

    const onTimerChanged = ( seconds ) => {
        console.log( "updating timer" );
        countdownLabel = document.getElementById( "countdown" );
        countdownLabel.innerHTML = seconds;
        if( seconds == 0 ) return;
        timer = setInterval( () => {
            --seconds;
            countdownLabel.innerHTML = seconds;
            if( seconds == 0 )
                clearInterval( timer )
        }, 1000 );
    };
    socketio.on( "set-timer", onTimerChanged );

    const onHeroChanged = ( data ) => {
        console.log( `updating hero ${ data.stat }-${ data.index }` );
        heroDiv = document.getElementById( `${ data.stat }-${ data.index }` );
        nameLabel = heroDiv.getElementsByClassName( "hero-name" )[ 0 ];
        nameLabel.innerHTML = data.hero.name;
        image = heroDiv.getElementsByClassName( "hero-image" )[ 0 ];
        image.src = `https://stats.projectkongor.com/images/${ data.hero.icon }/icon_128.jpg`;
    };
    socketio.on( "update-hero", onHeroChanged );

    const onPlayers = ( players ) => {
        console.log( "updating players" );
        playersList = document.getElementById( "players" );
        playersList.innerHTML = "";
        players.forEach( ( player ) =>
        {
            playersList.innerHTML += `<li>${player.name}</li>`;
        } );
    };
    socketio.on( "players", onPlayers );

    const onLegion = ( legion ) => {
        console.log( "updating legion" );
        legionList = document.getElementById( "legion" );
    };
    socketio.on( "legion", onLegion );

    const onHellbourne = ( hellbourne ) => {
        console.log( "updating hellbourne" );
        hellbourneList = document.getElementById( "hellbourne" );
    };
    socketio.on( "hellbourne", onHellbourne );

    const startDraft = () => {
        socketio.emit( "start-draft" );
    };
</script>
{% endblock %}
