* {
    box-sizing: border-box;
    // border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    margin: 10px 0;
}

#state {
    font-size: 22px;
}

#countdown {
    font-size: 14px;
}

.main {
    display: flex;
    justify-content: center;
}

.outer-margin {
    width: 100px;
}

.inner-margin {
    width: 200px;
}

.team {
}

.team-header {
    padding: 5px;
    font-size: 22px;
}

#legion .team-header {
    color: green;
}

#hellbourne {
    text-align: right;
}

#hellbourne .team-header {
    color: red;
}

.team-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.slot {
    display: flex;
    flex-direction: column;
}

#legion .slot {
    border: 5px solid green;
}

#hellbourne .slot {
    border: 5px solid red;
}

.slot-player {
    display: flex;
    align-items: center;
    gap: 5px;
}

#legion .slot-player {
    justify-content: left;
}

#hellbourne .slot-player {
    justify-content: right;
}

.slot-player-icon {
    display: inline;
    height: 14px;
}

.slot-player-name {
    display: inline;
    font-size: 14px;
}

.slot-hero {
}

.slot-hero-icon {
    width: 90px;
    display: block;
}

.slot-hero-name {
    font-size: 10px;
    text-align: center;
}

.draft-heroes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.stat {
}

.stat-header {
    padding: 5px;
    font-variant: small-caps;
}

.stat-heroes {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
}

.draft-hero {
    width: 25%;
}

.draft-hero-image {
    display: block;
    width: 100%;
}

.draft-hero-name {
    font-size: 10px;
    text-align: center;
}

#agi .hero {
    border: 5px solid green;
}

#int .hero {
    border: 5px solid blue;
}

#str .hero {
    border: 5px solid red;
}

#start-button {
    padding: 10px;
    margin: 10px;
}

.chat-area {
    display: flex;
    justify-content: center;
}

.messages {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    gap: 5px;
}

#message-log {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
}

.message {
}

.message-timestamp {
    color: gray;
}

.message-message {
}

#message-form {
    width: 100%;
    display: flex;
    gap: 10px;
}

#message-input {
    flex: 1 1 auto;
}

#message-button {
    flex: 0 0 auto;
}

.players {
    width: 180px;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    gap: 5px;
}

.players-header {
    padding: 5px;
    font-size: 18px;
    text-decoration: underline;
}

#players-list {
    padding: 5px;
}

.players-list-item {
}

.players-list-icon {
    display: inline;
    height: 12px;
}

.players-list-name {
    display: inline;
}
